html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

* > a {
  text-decoration: none;
}

.main {
  color: white;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/687811/pexels-photo-687811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

nav {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  font-family: Courier;
  text-align: right;
}

nav h2 {
  padding: 1.2em;
  margin:0;
}

a.backlink {
  font-size: 0.9rem;
  color: inherit;
  letter-spacing: 2px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid white;
  padding: 4px 6px;
  border-radius: 5px;
  transition: 0.5s ease;
}
a.backlink:hover {
  color: black;
  border: 1px solid black;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

section hr {
  width: 80%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

section h1 {
  font-size: 40px;
  font-family: arial;
  text-transform: uppercase;
  letter-spacing: 3px;
}

section p {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: Courier;
}

.numbers {
  font-size: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 2em;
  font-family: Georgia;
  letter-spacing: 1px;
}

/* Media Queries */

@media(max-width: 768px){
  section h1 {
    font-size: 30px;
  }
  .numbers {
    font-size: 20px;
  }
}
