html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

* > a {
  text-decoration: none;
}

main {
  min-height: 100%;
  background-color: rgba(245,245,245,0.6);
  background-image: url('https://images.pexels.com/photos/196667/pexels-photo-196667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
  background-repeat: no-repeat;
}

header {
 text-align: center;
 padding-top: 1em;
 letter-spacing: 2px;
 text-shadow: 0 0 5px white;
}

header h1 {
  margin-top: 5%;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 5vw;
}

/* section -------------- */

section {
   background-color: rgba(245,245,245,0.6);
   width: 80vw;
   height: 60vh;
   overflow: scroll;
   transform: translateX(-50%);
   margin-left: 50%;
   padding: 1em 2em;
   box-shadow: 0 0 5px gray inset;
   border-radius: 10px;
}
.link-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
h2.link-title {
  font-weight: 300;
}
.link-container a {
  display: block;
  width: 350px;
  padding: 10px;
  text-align: center;
  font-weight: 300;
  border: 1px solid;
  margin: 2px;
  letter-spacing: 1px;
  background-color: rgba(0,0,0,0.6);
  color: white;
}
.link-container a:hover {
  background-color: rgba(0,0,0,0.8);
}

/* footer -------------*/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 3em;
  text-align: right;
  font-family: arial;
  text-transform: uppercase;
}

footer a {
  color:#004d40;
  margin-left: 5px;
  font-size: 1.2em;
}
footer a:hover {
  color: #c62828;
}


/* responsive ----------- */
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }
}
