html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* > a {
  text-decoration: none;
}

main {
  min-height: 100%;
  background-color: whitesmoke;
}

header {
 text-align: center;
 padding-top: 1em;
 font-family: sans-serif;
 letter-spacing: 2px;
 text-shadow: 0 0 5px white;
}

header h1 {
  margin-top: 0;
}

section {
   padding: 1em 3em;
}

.coming-soon-links h2 {
  font-family: sans-serif;
  text-shadow: 0 0 3px white;
}

.coming-soon-links a {
  color:inherit;
}

.coming-soon-links p {
  font-size: 1.1em;
  font-family: helvetica, arial;
  transition: 1s ease;
  border-radius: 10px;
  padding: 0.2em 1em;
}

.coming-soon-links p:hover {
  background-color: RGB(255, 215, 0);
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 3em;
  text-align: right;
  font-family: arial;
}

footer a {
  color:#004d40;
  margin-left: 5px;
  font-size: 1.2em;
}
footer a:hover {
  color: #c62828;
}
