/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300|Playball');

/* universal  */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* { box-sizing: border-box; }
a { text-decoration: none; }

header hr,
#about hr,
#menu hr {
  margin: 30px auto 0px;
  height: 3px;
  width: 50px;
  background-color: white;
}

.section-heading {
  font-size: 50px;
  font-weight: 300;
  color: rgba(37, 37, 37, 1);
  letter-spacing: 1px;
}

/* nav */
nav {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
nav#mainNav {
  background-color: transparent;
  color: rgba(255,255,255,0.7);
}
nav#mainNav a { color: inherit; }
nav#mainNav a:hover {
  color: rgba(255,255,255,1);
}
nav button {
  border: 0 !important;
  outline: 0 !important;
}

.scrolled {
  border-bottom: 1px solid #695a46 !important;
  background-color: white !important;
  color: rgba(0,0,0,0.7) !important;
  transition: 1s ease;
}
.scrolled a:hover {
  color: rgba(0,0,0,1) !important;
}
.scrolled span {
  color: #695a46;
}

/* first page - header */

header {
  padding-top: 150px;
  min-height: 100vh;
  position: relative;
  background-image: url("../images/coffee01.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header .texture-header {
  position: absolute;
  z-index: 1;
  top: -150px;
  width: 100%;
  height: calc(100% + 150px);
  background-color: rgba(0,0,0,0.2);
  background: repeating-linear-gradient(to right,rgba(0,0,0,0.2),rgba(0,0,0,0.6),rgba(0,0,0,0.2) );
}

header .primaryMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}

header .primaryMessage h1 {
  font-family: 'Playball', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 10vh;
}

/* about page */

section#about {
  background-color: #695a46;
  min-height: 100vh;
}
#about .row {
  min-height: 100vh;
}
.about-left .about-left-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.about-left .section-heading {
  font-family: 'Playball', sans-serif;
  color: #dfcaae;
}
.about-left p
 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #ede1d1;
  letter-spacing: 0.5px;
  line-height: 2em;
}
.about-right {
  background-image: url("../images/coffee02.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.store-hour {
  display: inline-block;
  margin: 40px;
  padding: 30px;
  background-color: rgba(237,225,209,0.4);
  position: relative;
}
.store-hour p {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  color: #3E2723;
  text-shadow: 1px 1px 2px rgba(237,225,209,0.6);
  letter-spacing: 0.5px;
  line-height: 2em;
}



/* menu */

section#menu {
  padding-top: 120px;
  background-image: url('../images/coffee03.jpeg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.texture-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-120px);
  background-color: rgba(0,0,0,0.2);
  background: repeating-linear-gradient(to right,rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,0.2) );
}

#menu .section-heading {
  color: white;
  font-family: 'Playball', sans-serif;
}

.menu-content {
  margin: 30px auto;
  padding: 20px;
  width: 80vw;
  border: 1px solid white;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
}
.menu-content li {
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 15px;
}
span.price {
  display: inline-block;
  font-weight: bold;
  transform: scale(0.8);
  margin-left: 10px;
  transition: 0.2s;
}
span.price:hover {
  transform: scale(1);
}

/* contact */

section#contact {
  padding-top: 150px;
  min-height: 100vh;
}

#contact hr {
  margin: 30px auto 0px;
  height: 3px;
  width: 50px;
  background-color: #695a46;
}

#contact p {
  font-family: Georgia;
  font-size: 20px;
  letter-spacing: 1px;
}

#contact a {
  text-decoration: none;
}

#contact .social-media{
  display: flex;
  justify-content: center;
}
.sm-icon {
  border-radius: 100%;
  font-size: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 2em;
  color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin-left: 10px;
  transition: 0.2s;
  background-color: #695a46;
}
.sm-icon:first-of-type {
  margin-left: 0px;
}
.sm-icon:first-of-type:hover {
  background-color: #55acee;
}
.sm-icon:nth-of-type(2):hover {
  background-color: #dd4b39;
}
.sm-icon:nth-of-type(3):hover {
  background-color: #0077B5;
}
.sm-icon:nth-of-type(4):hover {
  background-color: #e91e63;
}
.sm-icon:last-of-type:hover {
  background-color: #388e3c;
}
.sm-icon:hover {
  box-shadow: -1px -1px 5px rgba(0,0,0,0.5);
  transform: scale(0.9);
  cursor:pointer;
}

/* footer */
footer {
  padding: 20px;
  background-color: rgba(37, 37, 37, 1);
  color: rgba(255,255,255,0.6);
  font-size: 0.9em;
  letter-spacing: 0.8px;
  text-align: center;
}

/* responsive settings */


@media screen and (max-width: 700px) {
/* header */
  header .primaryMessage {
    padding: 5px 90px;
  }
  header .primaryMessage h1 {
    font-size: 35px;
    line-height: 1.5em;
  }
  div.img-box {
    display: none;
  }

/* section-heading */
.section-heading {
  font-size: 35px;
  line-height: 1.5em;
  padding: 0 20px;
}
/*  menu */
  .morning-special li {
    font-size: 20px;
  }
/* about */
/* contact */
  #about .container {
    padding: 20px;
  }
  #about p,
  #contact p {
    line-height: 1.5em;
    padding: 0 20px;
    text-align: justify;
  }
  .sm-icon {
    font-size: 30px;
    width: 60px;
    height: 60px;
    margin-left: 5px;
  }

}
