html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  height: 100%;
  background-image: url('https://images.pexels.com/photos/573294/pexels-photo-573294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 50px;
  height: 50px;
  /* background-color: orange; */
  margin: 2px;
  text-align: center;
  font-size: 45px;
  font-family: monospace;
  font-weight: bold;
  color:white;
  text-shadow: 1px 1px 5px black;
}

.boxes {
  border: 1px black solid;
  display: flex;
  justify-content: center;
}
