@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script');


html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* > a {
  text-decoration: none;
}

h1, h2 {
  margin: 0;
}

main {
  height: 100vh;
  background-image: url('../images/yoga02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.pink-cover {
  background-image: -webkit-linear-gradient(30deg, transparent 50%, rgba(253, 121, 168, 0.4) 50%);
}
.grey-cover {
  background-image: -webkit-linear-gradient(-30deg, transparent 50%, rgba(99, 110, 114, 0.4) 50%);
}
.content {
  position: absolute;
  top: 30%;
  left: 60%;
}
.content h1 {
  font-family: 'Dancing Script', sans-serif;
  font-size: 70px;
  -webkit-animation: focus 5s ease 2s infinite alternate; /* Safari 4.0 - 8.0 */
animation: focus 5s ease 2s infinite alternate;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes focus {
    0%   {transform: scale(1);}
    25%  {transform: scale(1.05);}
    50%  {transform: scale(1);}
    75%  {transform: scale(1.05);}
    100% {transform: scale(1);}
}

/* Standard syntax */
@keyframes focus {
  0%   {transform: scale(1);}
  25%  {transform: scale(1.05);}
  50%  {transform: scale(1);}
  75%  {transform: scale(1.05);}
  100% {transform: scale(1);}
}

.content h2 {
  font-family: 'Courgette', sans-serif;
}


/* Media Queries */

@media(max-width: 768px){

  .content {
    position: absolute;
    top: 30%;
    left: 40%;
  }
  .content h1 {
    font-size: 50px;
  }

}
