html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* > a {
  text-decoration: none;
}

div.mainContainer {
  background-image: url('https://images.pexels.com/photos/917732/pexels-photo-917732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

div.main {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-linear-gradient(30deg, rgba(216,67,21,0.8) 50%, rgba(255,138,101,0.4) 50%);
  display: flex;
  justify-content: center;
}

.innerDiv {
  padding: 20px;
  color: white;
  font-family: arial;
}

#left {
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

#left a.backlink {
  font-size: 0.9em;
  color:inherit;
  letter-spacing: 2px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid white;
  padding: 4px 6px;
  border-radius: 5px;
  transition: 0.5s ease;
}
#left a.backlink:hover {
  color: black;
  border: 1px solid black;
}

#left p {
  font-size: 1.2em;
  letter-spacing: 1px;
}

#right {
  width: 50%;
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

#socialMedia {
  display:flex;
  flex-direction: column;
  padding-bottom: 1em;
}

button {
  font-size: 25px;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 2px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

button.fb { color: #303f9f; }
button.fb:hover { transform: rotate(60deg); }

button.twi { color: #1565c0; }
button.twi:hover { transform: rotate(-60deg); }

button.goo { color: #d32f2f; }
button.goo:hover { transform:rotate(60deg);}
