
/* Universal Settings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

* { box-sizing: border-box; }
a { text-decoration: none; }

body {
  background-image: url('https://images.pexels.com/photos/317271/pexels-photo-317271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
}

/*  Navbar  */
nav {
  box-shadow: 0 1px 1px white;
  background-color: transparent !important;
}

.navbar-brand {
  margin-left: 45%;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: white !important;
  transition: 0.5s ease;
  transform: scale(1.5);
}

nav button {
  border: 0 !important;
  outline: 0 !important;
}

.nav-item a {
  color: black !important;
  text-transform: uppercase;
}
.dropdown-menu a {
  color: black !important;
}
.nav-item:hover {
  background-color: rgba(255,255,255,0.2);
}

@media screen and (max-width: 550px) {
  .navbar-brand {
    margin-left: 10%;
    transform: scale(1);
  }
}

header {
  padding: 100px 20px 30px 20px;
  height: 90vh;
  overflow: auto;
}

.primaryMessage {
  text-shadow: -1px -1px 5px white;
}

.primaryMessage hr {
  margin: 20px auto 0px;
  height: 3px;
  width: 50px;
  background-color: white;
}

.secondaryMessage p {
  font-size: 18px;
  text-align: justify;
  padding: 15px 30px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
}

a.about-btn {
  background-color: #12394f;
  color: white;
  letter-spacing: 1px;
}

a.about-btn:hover {
  background-color: white;
  color: #12394f;
}
