/* Universal Settings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  background-image: url('https://images.pexels.com/photos/1007025/pexels-photo-1007025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

* { box-sizing: border-box; }
a { text-decoration: none !important; }

/*  Navbar  */
nav {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(18,57,79,0.8) !important;
  color: white !important;
}

.navbar-brand {
  margin-left: 45%;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: white !important;
  transition: 0.5s ease;
  transform: scale(1.5);
}

nav button {
  border: 0 !important;
  outline: 0 !important;
}

.nav-item a {
  color: white !important;
  text-transform: uppercase;
}
.dropdown-menu a {
  color: rgba(18,57,79,1) !important;
}
.nav-item:hover {
  background-color: rgba(255,255,255,0.3);
}

@media screen and (max-width: 550px) {
  .navbar-brand {
    margin-left: 10%;
    transform: scale(1);
  }
}


/* header */
header {
  height: 30vh;
}

.title {
  font-family: monospace;
  padding: 100px 20px 30px 20px;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 3px white;
}

/* listing tab section */
.listing-tab {
  padding: 50px 80px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    min-width: 400px;
    box-shadow: 0px 1px 5px black;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none !important;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    min-width: 400px;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: whitesmoke !important;
    box-shadow: 1px 1px 5px black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tabcontent h3 {
  letter-spacing: 1px;
}

.tabcontent .badge {
  font-size: 14px;
}

.tabcontent .description {
  padding: 10px 30px;
  text-align: justify;
}

.description p {
  font-size: 18px;
}


/* modal */
.btn-secondary, .btn-info {
  letter-spacing: 1px;
}

.modal-content {
  height: 90vh;
  padding: 50px;
  overflow: scroll;
}

.unit-info {
  margin-bottom: 10px;
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


/* footer */
footer {
  height: 10vh;
  padding-top: 10px;
}

footer p {
  text-align: right;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin: 5px 15px;
}
