/* Universal Settings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
body {
  background-image: url('https://images.pexels.com/photos/6213/woman-hand-pen-girl.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}
* { box-sizing: border-box; }
a { text-decoration: none !important; }

/*  Navbar  */
nav {
  box-shadow: 0 1px 1px white;
  background-color: transparent !important;
}

.navbar-brand {
  margin-left: 45%;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: white !important;
  transition: 0.5s ease;
  transform: scale(1.5);
}

nav button {
  border: 0 !important;
  outline: 0 !important;
}

.nav-item a {
  color: black !important;
  text-transform: uppercase;
}
.dropdown-menu a {
  color: black !important;
}
.nav-item:hover {
  background-color: rgba(255,255,255,0.2);
}

@media screen and (max-width: 550px) {
  .navbar-brand {
    margin-left: 10%;
    transform: scale(1);
  }
}

.scrolled {
  border-bottom: 1px solid white !important;
  background-color: rgba(18,57,79,0.8) !important;
  color: white !important;
  transition: 1s ease;
}
.scrolled .nav-item a { color: white !important; }
.scrolled .dropdown-menu a { color: rgba(18,57,79,1) !important; }


/* header */
header {
  height: 40vh;
}

.about-title {
  font-family: monospace;
  padding: 130px 20px 30px 20px;
}

.about-title h1 {
  font-size: 40px;
  font-weight: bold;
}

.about-content {
  background-color: whitesmoke;
  padding: 50px 30px 80px 30px;
}

.owner-quote {
  border-top: 3px rgba(18,57,79,0.8) solid;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.owner-info h3 {
  letter-spacing: 1px;
  border-bottom: 3px solid rgba(18,57,79,0.8);
}
.owner-info p:first-of-type {
  text-align: justify;
}

.owner-contact p {
  margin: 5px 0px;
}

.owner-contact a {
  margin-left: 10px;
  padding: 1px 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: black !important;
}
.owner-contact a:hover {
  background-color: rgb(18,57,79);
  color: white !important;
}

/* testimonials */
.testimonials {
  padding: 80px 30px;
}

.test-box h1 {
  font-family: monospace;
  letter-spacing: 1px;
  font-size: 40px;
  margin-bottom: 50px;
}

.carousel {
  background-image:linear-gradient(to right, rgba(208,203,182,0.5), rgba(208,203,182,1), rgba(208,203,182,0.5));
  padding: 40px 100px;
  min-height: 300px;
}

.carousel-item {
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-item p {
  font-size: 18px;
  text-align: justify;
}

.carousel-item p.customers {
  text-align: right;
  font-style: italic;
}

.carousel-indicators li {
  height: 10px !important;
}

.carousel-icon {
  color: black;
}

/* map */
.map {
  padding: 80px 20px;
  background-color: whitesmoke;
}

.map-box h1 {
  font-family: monospace;
  font-size: 40px;
  letter-spacing: 1px;
}

.map-box p {
  font-size: 18px;
  margin-bottom: 50px;
}

#googleMap {
  width: 100%;
  height: 400px;
}

/* footer */
footer {
  height: 10vh;
  padding-top: 10px;
}

footer p {
  text-align: right;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin: 5px 15px;
}
