/* Universal Settings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  background: #B79891;
  background: -webkit-linear-gradient(to right, #94716B, #B79891);
  background: linear-gradient(to right, #94716B, #B79891);
  height: 100vh;
}

* { box-sizing: border-box; }
a { text-decoration: none !important; }

/*  Navbar  */
nav {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  background-color: transparent !important;
}

.navbar-brand {
  margin-left: 45%;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: white !important;
  transition: 0.5s ease;
  transform: scale(1.5);
}

nav button {
  border: 0 !important;
  outline: 0 !important;
}

.nav-item a {
  color: white !important;
  text-transform: uppercase;
}
.dropdown-menu a {
  color: rgba(18,57,79,1) !important;
}
.nav-item:hover {
  background-color: rgba(255,255,255,0.3);
}

@media screen and (max-width: 550px) {
  .navbar-brand {
    margin-left: 10%;
    transform: scale(1);
  }
}

.scrolled {
  border-bottom: 1px solid #12394f !important;
  background-color: rgba(18,57,79,0.8) !important;
  color: white !important;
  transition: 1s ease;
}
.scrolled .nav-item a { color: white !important; }
.scrolled .dropdown-menu a { color: rgba(18,57,79,1) !important; }
.scrolled .navbar-brand { color: white !important; }

/* header */
header {
  height: 40vh;
}

.title {
  font-family: monospace;
  padding: 130px 20px 30px 20px;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(255,255,255,1);
}


/* footer */
footer {
  height: 10vh;
  padding-top: 10px;
}

footer p {
  text-align: right;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin: 5px 15px;
}
