/* Universal Settings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2018/03/04/09/51/space-3197611_1280.jpg');
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

* { box-sizing: border-box; }
a { text-decoration: none !important; }

/*  Navbar  */
nav {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(18,57,79,0.8) !important;
  color: white !important;
}

.navbar-brand {
  margin-left: 45%;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: white !important;
  transition: 0.5s ease;
  transform: scale(1.5);
}

nav button {
  border: 0 !important;
  outline: 0 !important;
}

.nav-item a {
  color: white !important;
  text-transform: uppercase;
}
.dropdown-menu a {
  color: rgba(18,57,79,1) !important;
}
.nav-item:hover {
  background-color: rgba(255,255,255,0.3);
}

@media screen and (max-width: 550px) {
  .navbar-brand {
    margin-left: 10%;
    transform: scale(1);
  }
}


/* header */
header {
  border: 2px red solid;
  height: 30vh;
}

.title {
  font-family: monospace;
  padding: 100px 20px 30px 20px;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 3px white;
}

.type {
  border: 1px blue dashed;
}

/* listing tab section */
.listing-tab {
  padding: 50px 80px;
}

/* Style the tab */
.tab {
    float: left;
    border: 3px solid black;
    background-color: rgba(255,255,255,0.5);
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none !important;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tab button:hover {
  background-color: rgba(255,255,255,1);
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: lightcoral;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 20px;
    border: 3px solid black;
    width: 70%;
    border-left: none;
    height: 300px;
}

/* footer */
footer {
  height: 10vh;
  padding-top: 10px;
}

footer p {
  text-align: right;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin: 5px 15px;
}
